* {
    margin: 0;
    padding: 0;
    /* font-family: 'Alegreya Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Shadows Into Light', cursive; */

}


body {
    background-color: #fbfbfb;
    width: 100vw;
}

header {
    width: 100vw;
    background-color: black;
    height: 60px;
    color: aliceblue;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing:border-box;

}

header>h1 {
    margin-left: 20px;
}

label {
    display: flex;
    flex-direction: column;
    width: 30px;
    row-gap: 6px;
    margin-right: 10px;
    justify-content: space-between;
    cursor: pointer;
}

#menu {
    display: none;
}

.line {
    border: 2px solid white;


}

aside {
    position: fixed;
    right: 0px;
    top: 60px;
    width: 240px;
    background-color: darkgray;
    height: calc(100% - 60px);
    overflow-y: hidden;
    transform: translateX(240px);
    transition-duration: 0.4s;
    z-index: 1;
}

#menu:checked+aside {
    transform: translateX(0);
}

aside>h2 {
    margin: 20px 0;
}
main{
    width: 100%;
    margin-left: 490px;
}

.card {
    /* border: 3px solid black; */
    width: fit-content;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.card>img {
    width: 400px;
    height: 500px;
    border-radius: 20px;

}

.card-txt {
    position: absolute;
    top: 0;
    padding: 30px;
    left: 0;
    right: 0;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .16);

}

.black {
    color: white;
}

.card-container {
    margin-top: 22px;
    display: flex;
    column-gap: 20px;
    width: fit-content;
    /* transform: translateX(490px); */

}
.container-wrap{
    width: 100%;
    overflow-x: hidden;
}
.graytxt{
    color: gray;

}
.h2_1{
    /* margin-left: 510px; */
    margin-top: 100px;
    font-size: 28px;
    font-weight: bold;
}
.hi{
    font-size: 48px;
    font-weight: bolder;
    padding: 80px 0 64px;
}
.event{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px 20px;
}
.event > button {
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
    cursor: pointer;
}
.event > p {
    display: inline;
    font-size: 14px;
}
.event > p > a{
    color: #0066cc;
    text-decoration: none;
}
#all{
 display: flex;
 column-gap: 30px;
}
.mini-card > img{
    width: 120px;
    height: 78px;

}
.mini-txt > p{
    font-size: 14px;
    text-align: center;
}
.mine{
    width: 100%;
    overflow-x: hidden;
}
.help{
    display: flex;
}
.help > img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
}
.first{
    display: flex;
}